.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.menu li {
    float: left;
}
.yellow{
	color: #EEB111;
}

.menu li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover:not(.active) {
    background-color: #6D3D98;
    color: white;
}

.menu li a.active {
    color: #000;
    
    background-color: #EEB111;
}